<div class="actor-list">
  <div class="container">
    <div class="wrapper-actor-list">
      
      <div class="pagination-actor">
          <mat-paginator 
            [length]="lengthPag"
            [pageSize]="pageSize"
            [hidePageSize]="true"
            (page)='pageEvent = $event'
            (click)="handlerClickPaginator($event)">
          </mat-paginator> 
      </div>

      <div class="content d-flex flex-row justify-content-around  justify-content-xl-between flex-wrap ">

          <app-actor-item *ngFor="let actor of dataActors" [actor]='actor' [imgPath]='imgPath'></app-actor-item>

      </div>
    </div>
  </div>
</div>
