  
a{  
    color: black;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 21px;
    text-decoration: none;
    text-transform: underline;
    cursor: pointer;
}
.item-actor{
    width: 235px;
    margin-bottom: 15px;
   
    border: 1px solid #dee2e6 ;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    .img-actor{
        height: 235px;
        display: block;
        background-color: #dee2e6;
        border-radius: 4px;

        display: flex;
            img{
                margin: auto;
            }
    }
    .info-actor{
        padding: 5px;
        width: 100%;
        
        p{ 
            margin: 0;
            padding: 0;
            font-size: 14px;
            color: rgba(0,0,0, 0.6);
            font-family: 'Source Sans Pro', Arial, sans-serif;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.2em;
        }
        
    }        
}
    

