<mat-card class="d-flex flex-row mini-card border" *ngIf="view">

  <div class="mini-card-img-content" *ngIf="true">
    <a [routerLink]="['/films', film.id]">
      <img  class='mini-card-img' appLoadImg src="{{imgPath+minImg+film.poster_path}}">
    </a>
  </div>
    
  <mat-card-content class="d-flex flex-column  mini-card-ctx" >
  
    <mat-card-header class="mb-auto">
      <app-ratio-icon mat-card-avatar [ratingVote]='film?.vote_average'  [sizeRatingIcon]='38' ></app-ratio-icon>
      <mat-card-title> {{film?.title}}  </mat-card-title>
      <mat-card-subtitle> {{film?.release_date}}</mat-card-subtitle>
    </mat-card-header>

    <p class="mini-card-overview"> {{film.overview | slice:0:150 }} </p>

    <mat-card-actions class="mt-auto mini-card-action ">
        <a mat-button [routerLink]="['/films', film.id]">More</a>
    </mat-card-actions>
</mat-card-content>
  
  </mat-card>

<!-- ********************************************************************************** -->
<!-- max card  -->
<!-- ********************************************************************************** -->
  <mat-card class="max-card m-2" *ngIf="!view">
    <a [routerLink]="['/films', film.id]">  
      <img class='max-card-img'src="{{imgPath+maxImg+film.poster_path}}" alt="Photo of a Shiba Inu">
      
      <mat-card-header class="d-flex flex-row  max-card-header">
        <app-ratio-icon mat-card-avatar [ratingVote]='film?.vote_average'  [sizeRatingIcon]='38' ></app-ratio-icon>
        <mat-card-title [ngClass]="{'max-card-title': isTrue}"> {{film?.title | slice:0:37 }} </mat-card-title>
        <mat-card-subtitle [ngClass]="{'max-card-subtitle': isTrue}"> {{film?.release_date}}</mat-card-subtitle>
      </mat-card-header> 
   </a>
  </mat-card>






