
<div class="media">
  <div class="container">
      <h2 >Лучшие подборки фильмов</h2>
      <div class="wrapper_media d-flex flex-column flex-md-row">
        
        <div class="index_cinema">
          <div class="column">
              <div class="c-double_info d-flex flex-row">
                <div class="info c-info_first" > 
                  <a [routerLink]="['/films',popFirstFilm.id]">
                  <img src="https://image.tmdb.org/t/p/w250_and_h141_face{{popFirstFilm?.backdrop_path}}" alt="">   
                  <h3>{{popFirstFilm?.title}}</h3>
                  </a>
                </div>  
                <div class="info c-info_second"> 
                   <a [routerLink]="['/films',popSecondFilm.id]">
                  <img src="https://image.tmdb.org/t/p/w250_and_h141_face{{popSecondFilm?.backdrop_path}}" alt="">   
                  <h3>{{popSecondFilm?.title}}</h3>
                  </a>
                </div> 
              </div>

              <div class="info c-info_third">
                <a [routerLink]="['/films',popThirdFilm.id]">
                <img src="https://image.tmdb.org/t/p/w500_and_h282_face{{popThirdFilm?.backdrop_path}}" alt="">
                <h3>{{popThirdFilm?.title}}</h3>
                </a>
              </div>
          </div>
        </div>

        <div class="index_cinema" >
          <div class="column">
            <div class="tv-info_first"> 
              <a [routerLink]="['/films',popFourthFilm.id]">
              <img src="https://image.tmdb.org/t/p/w500_and_h282_face/{{popFourthFilm?.backdrop_path}}" alt="">
              <h3>{{popFourthFilm?.title}}</h3>
              </a>
            </div> 
            
            <div class="tv-double_info d-flex flex-row">
              <div class="tv-info_second" >
                <a [routerLink]="['/films',popFifthFilm.id]">
                <img src="https://image.tmdb.org/t/p/w250_and_h141_face/{{popFifthFilm?.backdrop_path}}" alt="">   
                <h3>{{popFifthFilm?.title}}</h3>
                </a>
              </div>  
              <div class="tv-info_third" > 
                <a [routerLink]="['/films',popFifthFilm.id]">
                <img src="https://image.tmdb.org/t/p/w250_and_h141_face/{{popSixthFilm?.backdrop_path}}" alt="">   
                <h3>{{popSixthFilm?.title}}</h3>
                </a>
              </div>  
            </div>    
                   
          </div>
        </div>

    </div> 
  </div>
</div>

<div class="actors">
  <div class="container">
    <h2 >Лучшие актеры</h2>
    <div class="wrapper_actors">

        <div class="сontent d-flex flex-row flex-wrap justify-content-around justify-content-xl-between">

          <div class="item-actor" *ngFor="let actor of popularActors">
           
            <a [routerLink]="['/actors', actor.id]" class="img-actor">
              <img src="https://image.tmdb.org/t/p/w235_and_h235_face/{{actor.profile_path}}" alt="">
            </a>
            <div class="info-actor">
              <a [routerLink]="['/actors', actor.id]"> {{actor.name}} </a>
              <p> {{ castActor(actor.known_for) }} </p>
            </div>
          </div>
          

          

        </div> 
    </div>
  </div>
</div>





