@import './../../media.scss';
.mat-card {
    width: 100% !important;
    @include media(425) {
        padding: 5px 16px !important;
    }
}

app-film-item{
    flex: 0 0 48%;
    margin: auto;
    @include media(992) {
        flex: 0 0 100%
    }
}
.mat-form-field {
    @include media(992) {
        width: 100px;
    }
    
}

