

// @media (max-width: 1280px) {}
// @media (max-width: 1080px) {}
// @media (max-width: 767px) {}
// @media (max-width: 576px) {}
// @media screen and (max-height: 450px) {}

// Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) {  }

// Small devices (landscape phones, less than 768px @media (max-width: 767px) )
// @media (max-width: 767.98px) {  }

// Medium devices (tablets, less than 992px  @media (max-width: 1080))
// @media (max-width: 991.98px) {  }

// Large devices (desktops, less than 1200px  @media (max-width: 1280px))
// @media (max-width: 1199.98px) {  }

$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 992px;

@mixin media($breakpoint) {
    @media (max-width: $breakpoint + 'px'){
        @content;
    }

}
