.mat-list-base {
    padding-top: 0 !important;
    color: #fff;
}

img{
    height: 60px;
    display: block;
}

a{
    margin-left: 15px;
}

.button-active{
    color: rgba(#01d277, 0.6)
}

.menu-btn-mob{
    mat-icon{
        color: white !important;   
    }    
}

