@import './../../media.scss';

a{
    text-decoration: none;
    color: black;
}
.header{
    position: relative;
    min-height: 64vh;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    &-bgfon{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        z-index: -2;

    }
    &-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba(0,0,0,0.7);
        z-index: -1;
    }
}
.card-item{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    background: transparent;
    
    z-index: 1;
    img{
        margin: auto;
    }
    .img-wrapper{
        flex: 0 0 300px;
        height: 450px;
        background-color: #eee;
        @include media(768){
            display: none !important;
        }   
       
    }
}
.content{
    padding: 30px 0px;
    width: 100%;
    
}
.card-content{
    padding-left: 40px;
    padding-right: 15px;
    color: rgba(255,255,255, 0.9);
    @include media(768){
        padding-left: 0px;
        padding-right: 0px;
    }
     
    
    .ctx-title{
        font-weight: 700;
        margin-bottom:  30px;
        h1{
            font-size: 38px;
            line-height: 1.1;
            @include media(768){
                font-size: 28px;    
            }
            @include media(425){
                font-size: 20px;
            } 
        }
        span{
            font-size: 28px;
            opacity: 0.6;
            @include media(768){
                font-size: 22px;    
            }
            @include media(425){
                font-size: 16px;
            } 
        }
    }
    .ctx-social-block{
        list-style: none;
        margin: 0;
        padding: 0 !important;
        margin-bottom: 30px;
        li{
            margin-right: 30px;
            button{
                background-color: rgba(255,255,255, 0.2);;
                outline: none;
            }
            mat-icon{
                color:  #02A562;;
            }

        }
        &-ratio{
            app-ratio-icon{
                position: relative;
                top: -12px;
            }
            div{
                margin-left: 40px;
                font-weight: 600; 
            }
        }
    }
    .ctx-overview{
        margin-bottom: 30px;
        @include media(425){
            font-size: 14px;
        } 
    }
    .ctx-footer{
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                flex: 0 0 33%;    
                padding: 5px 10px;
                margin-bottom: 15px; 
                font-size: 14px;
                h4{                   
                    margin: 0 !important;
                }
            }
        }
    }
    
}

// bloc sections/*********************************
.sections{
    overflow: hidden;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.white_column{
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;  
}
.white_column::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 500%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
}

.grey_column{
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    h3{
        font-size: 22px;
        font-family: 'Source Sans Pro', Arial, sans-serif;
        margin-bottom: 20px;
    }
}
.grey_column::after{
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    width: 500%;
    height: 100%;
    background-color: #ddd;
    z-index: -1;
}

.facts{
    
    .social-block{
        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
        li{
            margin-right: 15px;;   
        }
    }
    
}
.genres{
    .genre-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li{
        border: 1px solid #ddd;
        padding: 5px 10px;
        background-color: white;
        border-radius: 3px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
}

.white_column{
    color: black;
    .actor-more{
        border-bottom: 1px solid #eee;
        padding: 30px 0 5px 0;
        a{
            text-transform: capitalize;
            color: #01d277;
        }
    }

}
.actors{
    .actor-item{
        width: 140px;  
        border: 1px solid #e3e3e3;  
        
        font-size: 16px;
        border-radius: 5px;
        overflow: hidden;
        margin: 10px;

        .actor-img{
            width: 138px;
            height: 175px;
            display: block;
            background-color: #eee;
        }
        .actor-ctx{
            font-family: 'Source Sans Pro', Arial, sans-serif;
            padding-bottom: 5px; 
            p{
                margin: 0;
                padding: 0;
            }
            .actor-name{
                font-size: 15px;
                padding: 10px 10px 0 10px;
                font-weight: bold;
                letter-spacing: -0.4px;
            }
            .actor-character{
                font-size: 14px;
                padding: 0 10px
            } 

        }
    }
}


